<div class="response-container">
    <h3 class="response-header">Detalhes da Resposta</h3>
    <h4 class="response-subheader">Produtos</h4>
    <ul class="response-list">
        {% for product in products %}
            <div class="response-item">
                <span><h2> {{ product.description }}</h2></span><br>
                <span><h3><strong>GTIN:</strong> {{ product.gtin }}</h3></span><br>
                <span><strong>Índice:</strong> {{ product.index }}</span><br>
                <span><strong>Preço:</strong> R$ {{ product.price }}</span><br>
                <span><strong>Volume:</strong> {{ product.volume }}</span><br>
                <span><strong>Quantidade:</strong> {{ product.quantity }} {{ product.unity }}</span><br>
                <span><strong>Status:</strong> {{ product.status }}</span>
            </div>
        {% else %}
        <div class="response-item">
            Nenhum produto encontrado.
        </div>
        {% endfor %}
    </ul>

    <h4 class="response-subheader">Empresa</h4>
    <p><strong>Nome:</strong> {{ company.companyName }}</p>

    <h4 class="response-subheader">Usuário</h4>
    <p><strong>Nome:</strong> {{ user.userName }}</p>

    <p><strong>Data e Hora:</strong> {{ dateTime }}</p>
</div>
