<div class="response-container">
    <h3 class="response-header">Detalhes da Resposta</h3>

    <!-- Produtos -->
    <h4 class="response-subheader">Produtos</h4>
    <ul class="response-list">
        {% for product in products %}
            <div class="response-item">
                <span><h2>{{ product.description }}</h2></span><br>
                <span><h3><strong>GTIN:</strong> {{ product.gtin }}</h3></span><br>
                <span><strong>Índice:</strong> {{ product.index }}</span><br>
                <span><strong>Preço:</strong> R$ {{ product.price }}</span><br>
                <span><strong>Volume:</strong> {{ product.volume }} {{ product.unity }}</span><br>
                <span><strong>Quantidade:</strong> {{ product.quantity }}</span><br>
                <span><strong>Status:</strong> {{ product.status }}</span>
            </div>
        {% else %}
            <div class="response-item">
                Nenhum produto encontrado.
            </div>
        {% endfor %}
    </ul>

    <!-- Erros -->
    {% if errors is not empty %}
        <h4 class="response-subheader">Erros</h4>
        <ul>
            {% for error in errors %}
                <li><strong>Erro:</strong> {{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Empresa -->
    <h4 class="response-subheader">Empresa</h4>
    <p>{{ company.companyName }}</p>

    <!-- Usuário -->
    <h4 class="response-subheader">Usuário</h4>
    <p>{{ user.userName }}</p>

    <!-- Data e Hora -->
    <p><strong>Data e Hora:</strong> {{ dateTime }}</p>

</div>
